/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: gray;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
}
